@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#ffffff, #0404ff);
  color: #222;
  min-height: 100vh;
}

#header {
  text-align: center;
  margin: 3rem auto;
}


#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
  color: #eeeeee;
}

#user-input {
  padding: 0.5rem;
  max-width: 40rem;
  margin: 2rem auto;
  background: #ffffff;
  /* background: linear-gradient(180deg, #e0ded2, #ffffff); */
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  /* border: 1px solid #d8c245; */
  background-color: transparent;
  color: #555;
  font-size: 1rem;
  outline: none;
}

#result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #eeeeee;
  text-align: center;
}

.center {
  text-align: center;
}

#error{
  color: red;
}